extension=yaml.so

[yaml]
yaml.decode_binary = {{ php_yaml_decode_binary }}
yaml.decode_timestamp = {{ php_yaml_decode_timestamp }}
yaml.output_canonical = {{ php_yaml_output_canonical }}
yaml.output_indent = {{ php_yaml_output_indent }}
yaml.output_width = {{ php_yaml_output_width }}
